# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
.venv/
venv/
env/

# VS Code
.vscode/

# Arquivos temporários
*.log

# Excel temporário
~$*.xlsx
# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.log